.env

# temporary file used when customize models
Modelfile
# local Ollama model files
Ollama models/modelfiles/

**/node_modules/
Pi Agent/for-docker-volume/agent/extensions/package-lock.json
Pi Agent/for-docker-volume/agent/extensions/package.json
