# NOTE. this file has to use LF, not CRLF !!
GITHUB_ACCOUNT=your Agent GitHub account name
GITHUB_ACCOUNT_EMAIL=your Agent GitHub account email
GITHUB_ORG=AI-Team-26
GITHUB_REVIEWER=your main GitHub account

# "ENV:" means it has to be read from environment variable
GITHUB_ACCOUNT_PAT=ENV:PI_AGENT_GITHUB_ACCOUNT_PAT
GITHUB_ORG_PAT=github_pat_123456

EXA_API_KEY=